.Xauthority
.git-credentials
.gitconfig
.config/pulse
.config/nvim/README.md
.bash_history
.bash_logout
.cache/
.config/Code
.config/coc
.config/discord
.config/geeqie
.config/gtk-3.0
.config/gtk-2.0
.config/Syncplay
.config/syncplay.ini
./config/pavucontrol.ini
.config/dconf
.config/obsidian
.gnupg/
.java/
.mozilla/
.local/state
.local/share/geeqie
.local/share/nvim
.local/share/qtile
.local/share/ranger
.local/share/recently-used.xbel
.local/share/xorg
.local/share/fonts/
.npm/
.pki/
.ssh/
.var/
.vscode/
.xserverrc
.opvpn/
.cert/
Documents/
Music/
Video/
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
