[Desktop Entry]
Name=NetworkManager
Comment=Network interface
GenericName=NetworkManager
Type=Application
Icon=NetworkManager
Exec=/usr/bin/alacritty -e /usr/bin/nmtui
