[Desktop Entry]
Name=NetworkManager
StartupWMClass=networkmanager
Comment=Network interface
GenericName=NetworkManager
Type=Application
Icon=NetworkManager
Exec=/usr/bin/alacritty -e nmtui
